<template>
  <b-row>
    <b-col cols="5">
      <pie-chart/>
    </b-col>
    <b-col cols="5">
      <BarChart/>
    </b-col>

  </b-row>
</template>

<script>
import PieChart from '@/components/PieChart'
import BarChart from '@/components/ColumnChart'

export default {
  name: 'Charts',
  components: {
    PieChart,
    BarChart
  }
}
</script>

<style scoped>

</style>
