<template>
  <div class="d-flex dashboard-container">
    <div class="sidebar-wrapper mt-5 d-flex">
      <div class="sidebar-heading">
        <h2 class="logo p-5">Logo</h2>
      </div>
      <div class="list-group list-group-flush">
        <div>Anasayfa <br/>Datatable</div>
        <div class="menu-container">
          <ul>
            <li>Test User</li>
            <li>User Role</li>
          </ul>
        </div>
      </div>
    </div>
    <b-container class="content-container mt-5 ml-2 mr-2 p-5" fluid>
      <div class="table-navigation p-4">
        <div class="date-navigation d-flex justify-content-start w-25 float-left mt-2">
          <b-icon-calendar3 class="calendar-icon"></b-icon-calendar3>
          <b-icon-chevron-left class="left-arrow"></b-icon-chevron-left>
          <span style="line-height: 1rem">{{startingDate}}</span>
          <b-icon-chevron-right class="right-arrow"></b-icon-chevron-right>
        </div>
        <div class="date-filter d-flex">
          <datepicker :input-class="inputClassName.from" :format="format" v-model="startingDate"></datepicker>
          <div class="separator">-</div>
          <datepicker :input-class="inputClassName.to" :format="format"></datepicker>
          <button class="filter-button">Filter</button>
          <button class="clear-buttton" size="sm">Clear</button>
        </div>
      </div>
      <b-container fluid class="table-container pt-4 pb-5 pl-3 pr-3">
        <b-container fluid class="rounded-table">
          <b-table bordered
                   :items="dummyData"
                   :fields="fields"
                   :sort-desc.sync="sortDesc"
                   sort-icon-left
                   :filter="filter"
                   small
                   responsive="true"
          ></b-table>

        </b-container>
      </b-container>
    </b-container>
  </div>
</template>

<script>
import axiosInstance from '../services/AxiosTokenInstance'
import { mapGetters, mapMutations } from 'vuex'
import {
  GET_USER_TOKEN_GETTER,
  LOADING_SPINNER_SHOW_MUTATION
} from '@/store/storeconstants'
import Datepicker from 'vuejs-datepicker'

export default {
  name: 'Dashboard',
  data () {
    return {
      startingDate: null,
      format: 'yy-M-D',
      inputClassName: {
        from: 'from-date w-100',
        to: 'to-date w-100'
      },

      dateVal: '',
      filter: '',
      sortDesc: false,
      fields: [
        { key: 'categoryId', sortable: true },
        { key: 'id', sortable: true },
        { key: 'name', sortable: true },
        { key: 'orderAmount', sortable: true },
        { key: 'price', sortable: true },
        { key: 'stockAmount', sortable: true },
        { key: 'supplierId', sortable: true }
      ],
      dummyData: []
    }
  },
  computed: {
    ...mapGetters('auth', {
      token: GET_USER_TOKEN_GETTER
    })
  },
  mounted () {
    this.showLoading(true)
    axiosInstance
      .get('https://mydashboard-850e4-default-rtdb.firebaseio.com/data.json')
      .then((response) => {
        this.formatData(response.data)
        this.showLoading(false)
      })
      .catch(() => {
        this.showLoading(false)
      })
  },
  methods: {
    ...mapMutations({
      showLoading: LOADING_SPINNER_SHOW_MUTATION
    }),
    formatData (dummyData) {
      for (const key in dummyData) {
        this.dummyData.push({ ...dummyData[key], id: key })
      }
      console.log(this.dummyData)
    }
  },
  components: { Datepicker }
}
</script>

<style lang="scss">
.dashboard-container {
  overflow-x: hidden;
  background: url("../assets/dashboard_bg.png") no-repeat;
  background-size: cover;
  background-position: top;

  .sidebar-wrapper {
    border-right: 2px solid #ccc;
    flex-direction: column;
    background-color: #fff;
    margin-left: 0;
    min-height: 100vh;

    .sidebar-heading .logo {
      color: #ff7600;
    }

    .list-group {
      width: 15rem;
      display: flex;
      flex: 1;
      flex-direction: column;

      ul {

        margin-top: auto;
      }
    }
  }

  .content-container {
    border-radius: 10px;
    box-shadow: 0 0 15px 8px #c8c8c8;

  }
}

.from-date {
  border: 1px solid #db8e0e;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.to-date {
  border: 1px solid #db8e0e;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.separator {
  border-top: 1px solid #db8e0e;
  border-bottom: 1px solid #db8e0e;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.filter-button, .clear-buttton {
  border: 1px solid #db8e0e;
  border-radius: 20px;
  width: 7%;
  margin-left: 10px;
  background-color: transparent;
  display: inline-block;
}

.vdp-datepicker {
  width: 40%;
}

.calendar-icon {
  color: #db8e0e;
  font-weight: bold;
}

.left-arrow, .right-arrow {
  color: #db8e0e;
  font-weight: bold;
  cursor: pointer;
}

.table-container {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(50, 50, 50, 0.69);
  -moz-box-shadow: 0px 5px 8px 0px rgba(50, 50, 50, 0.69);
  box-shadow: 0px 5px 8px 0px rgba(50, 50, 50, 0.69);
  border-radius: 10px;
}

.table-container table {
  background-color: #fff;
}

.rounded-table {
  background-color: #fff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 17px;

}

.menu-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  ul li {
    background-color: #e7e7e7;
    border-radius: 15px;
    padding: 5px 5px 5px 10px;
    color: #db8e0e;
    margin: 3px;
    text-align: left;
  }
}
table thead{
  color:#db8e0e;
}
table tr td:first-child{
  color: #db8e0e;
}
</style>
