<template>
  <div class="form-container">
        <div class="alert alert-danger" role="alert" v-if="error">
          {{ errors.email }}
        </div>
        <form @submit.prevent="onLogin()" class="myform">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              v-model.trim="email"
              placeholder="Enter Your Email..."
            />
            <div class="alert alert-danger" v-if="errors.email">
              {{errors.email}}
            </div>
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              v-model.trim="password"
              placeholder="Enter Your Password..."
            />
            <div class="forget-password p-3"><a href="#">Forgot Your Password?</a></div>
            <div class="alert alert-danger" v-if="errors.password">
              {{ errors.password }}
            </div>
          </div>

          <div class="login-button">
            <b-icon-arrow-right></b-icon-arrow-right>
            <button type="submit" class="ct-button p-2">
              Login
            </button>
          </div>
        </form>
  </div>
</template>

<script>
import SignupValidations from '../services/SignupValidations'
import { mapActions, mapMutations } from 'vuex'
import { LOADING_SPINNER_SHOW_MUTATION, LOGIN_ACTION } from '@/store/storeconstants'

export default {
  name: 'Login',
  data () {
    return {
      email: '',
      password: '',
      errors: [],
      error: ''
    }
  },
  methods: {
    ...mapActions('auth', {
      login: LOGIN_ACTION
    }),
    ...mapMutations({
      showLoading: LOADING_SPINNER_SHOW_MUTATION
    }),
    async onLogin () {
      const validations = new SignupValidations(
        this.email,
        this.password
      )
      this.errors = validations.checkValidations()
      if ('email' in this.errors || 'password' in this.errors) {
        return false
      }
      this.error = ''
      this.showLoading(true)
      try {
        await this.login({
          email: this.email,
          password: this.password
        })
      } catch (e) {
        this.error = e
        this.showLoading(false)
      }
      this.showLoading(false)
      await this.$router.push('/dashboard')
    }
  }
}
</script>

<style lang="scss">
.form-container{
  height: 100%;
  background-image: url("../assets/login_bg.jpg");
  background-size: cover;
  background-position: bottom;
  .myform{
    background-color: rgba(255,255,255,0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border:1px solid #ccc;
    border-radius: 20px;
    min-width: 400px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:50px;
    box-shadow: 0 0 15px 8px #c8c8c8;
    color: #c8c8c8;
    input.form-control{
      border:none;
      background-color: transparent;
      border-bottom: 1px solid #c8c8c8;
      border-radius: 0;
      font-size:15px;
    }
    .forget-password a{
      font-size:12px;
      color: #4e4e4e;
    }
    .login-button{
      border: 1px solid #c8c8c8;
      border-radius: 20px;
      width: 30%;
      background-color: transparent;
      display: inline-block;
      button{
        background-color: transparent;
        border: none;
      }
    }
  }
}
</style>
