<template>
  <div>
    <b-navbar type="light" variant="light">
      <b-navbar-nav>
        <b-nav-item to="/" v-if="!isAuthenticated">Login</b-nav-item>
        <b-nav-item to="/dashboard" v-if="isAuthenticated">Dashboard</b-nav-item>
        <b-nav-item to="/charts" v-if="isAuthenticated">Charts</b-nav-item>
        <b-nav-item v-if="isAuthenticated" @click.prevent="onLogout()">Log Out</b-nav-item>
      </b-navbar-nav>
    </b-navbar>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import {
  IS_USER_AUTHENTICATE_GETTER,
  LOGOUT_ACTION
} from '@/store/storeconstants'

export default {
  computed: {
    ...mapGetters('auth', {
      isAuthenticated: IS_USER_AUTHENTICATE_GETTER
    })
  },
  methods: {
    ...mapActions('auth', {
      logout: LOGOUT_ACTION
    }),
    onLogout () {
      this.logout()
      const path = '/'
      if (this.$route.path !== path) this.$router.push(path)
    }
  }
}
</script>
