<template>
  <div id="app">
<!--    <the-navigation/>-->
    <the-loader v-if="showLoading"></the-loader>
    <router-view/>
  </div>
</template>
<script>
// import TheNavigation from '@/components/TheNavigation'

import { mapState } from 'vuex'
import { AUTO_LOGIN_ACTION } from '@/store/storeconstants'

export default {
  name: 'App',
  computed: {
    ...mapState({
      showLoading: (state) => state.showLoading,
      autoLogout: (state) => state.auth.autoLogout
    })
  },
  // watch: {
  //   autoLogout (curValue, oldValue) {
  //     if (curValue && curValue !== oldValue) {
  //       this.$router.replace('/login')
  //     }
  //   }
  // },
  components: {
    TheLoader: () => import('@/components/TheLoader')
    // TheNavigation
  },
  created () {
    this.$store.dispatch(`auth/${AUTO_LOGIN_ACTION}`)
  }
}
</script>
<style lang="scss">
*{
  padding: 0;
  margin: 0;
}
html, body {
  margin:0px;
  height:100%;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
